# Configuration EmailJS (Serveur & Client)
EMAILJS_SERVICE_ID=votre_service_id
EMAILJS_TEMPLATE_ID=votre_template_id
EMAILJS_WELCOME_TEMPLATE_ID=votre_template_welcome_id
EMAILJS_PUBLIC_KEY=votre_public_key
EMAILJS_PRIVATE_KEY=votre_private_key

# Configuration SMTP Classique (Optionnel)
# SMTP_SERVER=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=votre_adresse@gmail.com
# SMTP_PASSWORD=votre_mot_de_passe
# SMTP_SENDER=noreply@junior-entreprise.com

# Securite Flask
SECRET_KEY=je_qrcode_manager_secret_key_12345
